/* .s1 {
    flex-direction: column;
} */

.DS-conteudo {
    display: flex;
    justify-content: center;
    flex-direction: column;
}

.conteudos {
    display: flex;
    justify-content: center;
}


.quadroConteudos {
    width: 150px;
    height: 150px;
    
    background-color: var(--hemlock);
    border: 2px solid var(--marine_blue);
    
    border-radius: 20px;

    transition: all 0.3s ease;

    display: flex;
    justify-content: center;
    align-items: center;
}

.quadroConteudos:hover, .quadroAtividades:hover {
    cursor: pointer;
    
    transform: scale(1.1);
    
    box-shadow: 10px 10px 5px 0px rgba(0, 0, 0, 0.3);
}

.quadroConteudos:active, .quadroAtividades:active {
    transform: scale(0.9);
}

.atividades {
    display: flex;
    justify-content: center;
}

.quadroAtividades {
    width: 150px;
    height: 150px;

    background-color: var(--hemlock);
    border: 2px solid var(--marine_blue);

    border-radius: 20px;

    transition: all 0.3s ease; /* Suaviza a transição */    

    display: flex;
    justify-content: center;
    align-items: center;
}

.Atividades {
    color: white;
    text-align: center;margin-top: 30px;
    margin-bottom: 20px;
}