/* .s1 {
    flex-direction: column;
} */

.quadroConteudos {
    width: 150px;
    height: 150px;

    background-color: var(--hemlock);
    border: 2px solid var(--marine_blue);

    border-radius: 20px;
}

.Atividades {
    color: white;
    text-align: center;margin-top: 30px;
    margin-bottom: 20px;
}