:root {
    --grade_curso : 290px;
    --cor_fundo : #131a28;
    --marine_blue : #273f5c;
    --hemlock : #7a969c;
    --manor_blue : #bebbc5;
    --distant_gray : #f5f7f9;
}

.quadro {
    display: flex;
    justify-content: center;
    align-items: center;

    color: white;
    font-size: 2em;

    width: 200PX;
    height: 200PX;

    background-color: var(--hemlock);
}

/* esconer jogos and apps */

.hidden {
  display: none !important;
}