body{
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
    min-height: 100vh;
    color: white;
    background-color: rgb(19, 26, 40);
    background-size: 400% 400%;
    background-attachment: fixed;
}
.login-box{
    width: 300px;
    margin: 100px auto;
    padding: 30px;
    background: rgba(39, 63, 92);
    border-radius: 15px;
    text-align: center;
    box-shadow: 0 0 15px rgba(0,0,0,0.4);
}
.login-box input{
    width:90%;
    padding: 10px;
    margin: 8px 0;
    border: none;
    border-radius: 8px;
}
button{
    color: white;
    background-color: rgba(19, 26, 40);
    border: none;
    padding: 10px 16px;
    border-radius: 12px;
    cursor: pointer;
    font-weight: bold;
    background: hex(#2D2D2D);
    box-shadow: 0 10px 20px rgb(1, 11, 31);
    transform: 0.3s;

}
button:hover{
    transform: scale(1.05);
}