* {
    margin: 0;
    padding: 0;
}

:root {
    --grade_curso : 290px;
    --cor_fundo : #131a28;
    --marine_blue : #273f5c;
    --hemlock : #7a969c;
    --manor_blue : #bebbc5;
    --distant_gray : #f5f7f9;
}

body {
    background-color: var(--cor_fundo);
    font-family: Arial, Helvetica, sans-serif;

    /* teste */

    height: 100vh;

    display: flex;
    flex-direction: column;

    user-select: none;
}

/* cabecalho */

header {
    user-select: none;
    display: flex;
    justify-content: center;
}

#siga {
    margin-top: 40px;

    font-size: 2.3em;
    color: white;
}

.menu {
    display: flex;
    /* align-items: center; */
}

/* botes */

/* login/ */

.bnt {
    width: 100px;
    height: 30px;

    background-color: var(--hemlock);
    border: 2px solid var(--marine_blue);
    border-radius: 20px;

    transition: 0.3s ease;

    padding-right: 0px;

    position: absolute;
    top: 37px;
    right: 10px;
}


.bnt:hover, header a:hover {
    cursor: pointer;
    
    transform: scale(1.1);
    
    box-shadow: 10px 10px 5px 0px rgba(0, 0, 0, 0.3);
}

.bnt:active, header a:active {
    transform: scale(0.9);
}

header a {
    transition: 0.3s ease;

    position: absolute;
    left: 10px;
    top: 10px;
}
/* bem findo */

.bem_vindo {
    margin-top: 100px;

    text-align: center;
    color: white;

    padding-bottom: 20px;
}
/* secao 1 cursos */

#s1 {
    /* margin-top: 50px; */

    background-color: var(--marine_blue);

    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
    gap: 10px;

    max-width: 1500px;

    margin: auto;    
    /* margin-bottom: 20px; */

    border: 10px solid var(--manor_blue);
    border-radius: 20px;

    padding: 10px;
}

/* quadros de cursos */

.quadro {
    margin: 20px 0 20px 0px;
    width: var(--grade_curso);
    height: var(--grade_curso);
    
    overflow: hidden;

    /* border: solid; */

    transition: 0.3s ease;

    border-radius: 15px;

    display: flex;
    justify-content: center;
    align-items: end;

}

.quadro:hover {
    transform: scale(1.1);
    cursor: pointer;
    
    box-shadow: 10px 10px 5px 0px rgba(0, 0, 0, 0.3);
}

.quadro:active {
    transform: scale(0.9999);
}

.nome_curso {
    background-color: rgba(205, 220, 255, 0.486);
    height: 45px;
    
    display: flex;
    justify-content: center;
    align-items: center;

    padding: 0 5px 0 5px;
    border-radius: 20px 20px 0 0px;

    font-family: Arial, Helvetica, sans-serif;
    font-size: 1.3em;

    user-select: none;
}

/* fundos */

#ds {
    background: url(/img/logos/ds.png) center;

    background-size: 500px;
    background-repeat: no-repeat;

    background-color: var(--hemlock);
}

#qm {
    background: url(/img/logos/química.png) center;
    /* background-color: green; */
    
    background-size: 200px;
    background-repeat: no-repeat;

    background-color: var(--hemlock);
}
#sec {
    background: url(/img/logos/secretariado.png) center;
    /* background-color: rgb(122, 0, 128); */

    background-size: 200px;
    background-repeat: no-repeat;

    background-color: var(--hemlock);

}
#log {
    background: url(/img/logos/logistica.png) center;
    /* background-color: rgb(203, 224, 14); */

    background-size: 200px;
    background-repeat: no-repeat;

    background-color: var(--hemlock);

}
#tex {
    background: url(/img/logos/textil.png) center;
    /* background-color: rgb(8, 133, 175); */

    background-size: 200px;
    background-repeat: no-repeat;

    background-color: var(--hemlock);

}



/* footer */

footer {
    display: flex;
    align-items: center;
    justify-content: center;
    /* border: solid; */
    user-select: none;

    margin-top: auto;
    margin-bottom: 10px;
}

footer button {
    color: black;
    background-color: var(--hemlock);
    border: 3px solid var(--marine_blue);
    border-radius: 20px;
    padding: 5px;

    text-decoration: none;
    transition: 0.3s ease;
}

footer button:hover {
    cursor: pointer;
    
    transform: scale(1.1);
    /* box-shadow: 4px 4px 15px rgb(248, 248, 248); */
    box-shadow: 10px 10px 5px 0px rgba(0, 0, 0, 0.3);
}

footer button:active {
    transform: scale(0.9);
}

.hidden {
  display: none !important;
}