:root {
    --grade_curso : 290px;
    --cor_fundo : #131a28;
    --marine_blue : #273f5c;
    --hemlock : #7a969c;
    --manor_blue : #bebbc5;
    --distant_gray : #f5f7f9;
}

body{
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
    min-height: 100vh;
    color: white;
    background-color: rgb(19, 26, 40);
    background-size: 400% 400%;
    background-attachment: fixed;
}
.login-box{

    width: 300px;
    margin: 100px auto;
    padding: 30px;
    background: rgba(39, 63, 92);
    border-radius: 15px;
    text-align: center;
    box-shadow: 0 0 15px rgba(0,0,0,0.4);

    border: 10px solid var(--manor_blue);

}
.login-box input{
    width:90%;
    padding: 10px;
    margin: 8px 0;
    border: none;
    border-radius: 8px;
}

/* button {
    color: white;
    background-color: rgba(19, 26, 40);
    border: none;
    padding: 10px 16px;
    border-radius: 12px;
    cursor: pointer;
    font-weight: bold;
    background: #2D2D2D;
    box-shadow: 0 10px 20px rgb(1, 11, 31);
    transform: 0.3s;

} */

button {
    width: 100px;
    height: 30px;

    background-color: var(--hemlock);
    border: 2px solid var(--marine_blue);
    border-radius: 20px;

    transition: 0.3s ease;

    padding-right: 0px;

    text-align: center;
}

button:hover{
    transform: scale(1.05);
}
.cardCurso{
    background: rgba(255,255,255,0.1);

    padding: 15px;

    margin-top: 15px;

    border-radius: 12px;

    display: flex;

    justify-content: space-between;

    align-items: center;
}

#listaCursos{
    margin-top: 20px;
}

.cursoCard{
    background: rgba(255,255,255,0.1);

    padding: 10px;

    border-radius: 10px;

    margin-bottom: 10px;

    border: 1px solid white;
}